{% extends 'base.html.twig' %}

{% block title %}Bennes solidaires - Connexion{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href={{ asset('css/connexion.css') }}>
{% endblock %}



{% block body %}

    {% include 'partials/header.html.twig' %}

            <div class="container" id="container">
                <h1>CONNEXION</h1>
                <form action="" method="POST">
                    <label for="identifier">Identifiant</label>
                    <input type="text" id="identifier" name="identifier" placeholder="Votre identifiant">

                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" placeholder="Votre adresse email">

                    <label for="password">Mot de passe</label>
                    <input id="password" type="password" name="password" placeholder="Votre mot de passe">
                    <a href="#">Mot de passe oublié ?</a>

                    <div class="foot_form">
                        <input type="submit" value="Valider">
                        <a href={{ path('app_register') }}>Envie de nous rejoindre ?</a>
                        <a href={{ path('app_register') }}>Créer un compte</a>
                    </div>
                </form>
            </div>

    {% endblock %}

{% block javascripts %}
{{ asset('js/overall-no-scrolling.js') }}
{% endblock %}


    

