* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 350PX --------------- */
/* ------------------ SUP. OU ÉGALE ------------------ */
/* --------------------------------------------------- */
@media (min-width: 350px) {

    html,
    body {
        background-color: rgb(247, 245, 216);
    }

    body {
        font-family: "Abordage";
        color: black;
        min-width: 100vw;
        min-height: 100vh;
        text-align: justify;
        overflow-x: hidden;

        p {
            margin: 0;
        }

        a {
            text-decoration: none;
            color: black;
        }
    }

    /* NAVBAR */
    .navbar .burger-menu-button {
        color: black;
        cursor: pointer;
        display: none;
        display: block;
    }

    .container_menu {
        display: flex;
        justify-content: space-between;
        padding: 20px 50px 20px 50px;
    }

    .navbar .links {
        display: none;
    }

    .logo img {
        width: 250px;
    }

    header {
        position: relative;
        background-color: rgb(27, 237, 177);
    }

    .navbar {
        display: flex;
        align-items: end;
        justify-content: center;
    }

    li {
        list-style: none;
    }

    .burger-menu {
        display: block;
        height: 0;
        position: absolute;
        width: 100%;
        overflow: hidden;
        transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        background-color: rgb(27, 237, 177);
    }

    .burger-menu.open {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .burger-menu.open a {
        font-size: 4rem;
    }

    .links {
        margin: 0;
        padding: 0;
    }

    .burger-menu li {
        padding: 0.7rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .burger-menu-button i {
        padding: 15px 0 15px 0;
        transform: scale(4.5);
    }

    .fa-solid.fa-bars,
    .fa-solid.fa-xmark {
        padding-right: 10px;
    }

    .dropdown-menu_one {
        z-index: 100;
        border: 2px solid black;
        display: none;
        position: absolute;
        justify-content: center;
        padding: 10px;
        width: 280px;
        margin-left: 20px;
        background-color: rgb(243, 237, 79);
        text-align: center;
    }

    .dropdown:hover .dropdown-menu_one {
        display: block;
    }

    .dropdown-menu_two {
        z-index: 100;
        border: 2px solid black;
        display: none;
        position: absolute;
        justify-content: center;
        padding: 10px;
        width: 280px;
        margin-left: 20px;
        background-color: rgb(243, 237, 79);
        text-align: center;
    }

    .dropdown:hover .dropdown-menu_two {
        display: block;
    }

    .circle_menu {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: black;
    }

    /* NAVBAR */

    /* FORM  */
    label {
        margin-right: 0px;
        margin-left: 0px;
        font-size: 3rem;
    }

    input[type=submit] {
        background-color: rgb(27, 237, 177);
        color: black;
        padding: 8px 20px;
        border: none;
        border-radius: 55px;
        cursor: pointer;
        margin-bottom: 30px;
        margin-top: 30px;
        font-size: 2.5rem;
        width: 100%;
    }

    input[type=submit]:hover {
        background-color: black;
        color: white;
    }

     /* MODALE */
    .text_click {
        font-family: "Lemon Milk";
    }

    #openModal {
        border: none;
        background-color: rgb(27, 237, 177);
        font-size: 1.2rem;
        font-family: "Lemon Milk";
        display: flex;
        align-items: start;
        margin-top: 0;
        margin-bottom: 30px;
        border-radius: 20px;
        width: fit-content;
        padding: 6px;
        transition: transform 0.3s ease;
    }

    #openModal:hover {
        transform: rotate(-2deg);
    }

    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        overflow: auto;
    }

    .modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 15px 25px 35px 25px;
        border: 2px solid black;
        box-shadow: 0px 0px 10px 1px white;
        width: 80%;
    }

    .close {
        color: #aaa;
        float: right;
        font-size: 85px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
    /* MODALE */

    .foot_form {
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

    .container {
        box-sizing: border-box;
        border-radius: 5px;
        padding: 50px;
        width: 100%;
        min-width: 980px;
        max-width: 900px;
        margin: 0 auto;
    }

    .container a {
        padding-bottom: 5px;
        display: flex;
        justify-content: center;
    }

    #material-bio-select,
    #material-geo-select,
    #classification-select,
    #quantity-select,
    #value-select,
    #description,
    #geographical,
    #new-material {
        width: 100%;
        border: none;
        outline: none;
        padding: 5px;
        border-bottom: 1px solid rgb(92, 91, 91);
        border-radius: 0;
        box-sizing: border-box;
        margin-bottom: 10px;
        margin-right: 0px;
        margin-left: 0px;
        resize: vertical;
        color: rgb(123, 122, 122);
        background-color: transparent;
        font-size: 2.7rem;
    }

    #file {
        font-size: 2.7rem;
        margin-left: 20px;
        margin-bottom: 36px;
    }

    .quantity {
        display: flex;
        width: 100%;
        padding-bottom: 16px;
        font-size: 3rem;
        margin-top: 16px;
    }

    .quantity-select {
        margin: 0px 40px 0px 0px;
    }

    .value-select {
        margin-left: 50px;
        margin-right: 40px;
    }

    .checkbox {
        display: flex;
    }

    input[type=radio] {
        margin-right: 20px;
        width: 20px;
    }

    .message_enter {
        display: flex;
        flex-direction: column;
        margin-bottom: 25px;
    }

    #message {
        padding: 15px;
        border-radius: 10px;
    }

    textarea {
        background-color:rgb(247, 245, 216);
        border: 1px solid rgb(123, 123, 123);
        border-radius: 10px;
        width: 100%;
        height: 200px;
        font-size: 2.7rem;
        margin-top: 16px;
        margin-bottom: 16px;
        resize: none;
        overflow-y: scroll;
        scrollbar-width: none;
    }

    textarea:focus {
        border: 2px solid;
        border-color: rgb(27, 237, 177);
        outline: none;
    }

    textarea::-webkit-scrollbar-track {
        background-color: rgb(27, 237, 177);
    }

    textarea::-webkit-scrollbar-thumb {
        background-color: #000;
    }

     /* Change the white to any color */
     input:-webkit-autofill,
     input:-webkit-autofill:hover,
     input:-webkit-autofill:focus,
     input:-webkit-autofill:active {
         -webkit-box-shadow: 0 0 0 30px rgb(247, 245, 216) inset !important;
     }

    /* FORM  */

    .scrolling-text-container {
        min-width: 100%;
        overflow: hidden;
        display: flex;
    }

    .scrolling-text {
        display: block;
        margin-right: 500px;
        font-size: 3.5rem;
        white-space: nowrap;
        animation: scrollText 10s linear infinite;
        animation-direction: alternate-reverse;
    }

    @keyframes scrollText {
        from {
            transform: translateX(100%);
        }

        to {
            transform: translateX(-100%);
        }
    }

    .hide-on-menu-open .scrolling-text {
        display: none;
    }

    .bordure {
        border: 1px solid black;
    }
}



/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1000PX --------------- */
/* ----------------- SUP. OU ÉGALE ------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 1000px) {

    /* NAVBAR */
    .navbar {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 10px 110px 10px 110px;
        background-color: rgb(243, 237, 79);
        box-shadow: 2px 2px 10px 1px rgb(243, 237, 79);
    }

    .circle_menu {
        width: 17px;
        height: 10px;
        border-radius: 50%;
        background-color: black;
    }

    .navbar .burger-menu-button {
        display: none;
    }

    .navbar .links {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .burger-menu {
        display: none;
    }

    .links {
        width: 100%;
        font-size: 1.2rem;
    }

    .container_menu {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .logo img {
        width: 400px;
        padding: 15px 110px 15px 110px;
    }

    /* NAVBAR */

    .scrolling-text {
        display: block;
        margin-right: 500px;
        font-size: 1.7rem;
    }

    /* FORM */
    .container {
        padding: 20px 110px 20px 110px;
        min-width: 1000px;
        max-width: 1500px;
        margin: 0;
    }

    label {
        margin-right: 0px;
        margin-left: 0px;
        font-size: 1.3rem;
    }

    #material-bio-select,
    #material-geo-select,
    #classification-select,
    #quantity-select,
    #value-select,
    #description,
    #geographical,
    #new-material,
    #file {
        font-size: 1.3rem;
    }

    .quantity {
        font-size: 1.3rem;
    }

    textarea {
        font-size: 1.3rem;
    }

    input[type=submit] {
        width: 40%;
        font-size: 1.3rem;
    }

    /* FORM */

    /* MODALE */
    #openModal {
        font-size: 0.8rem;
    }

    .modal-content {
        font-size: 2rem;
    }

    .close {
        font-size: 35px;
    }
    /* MODALE */

}


/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1200PX --------------- */
/* ----------------- SUP. OU ÉGALE ------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 1200px) {

    /* NAVBAR  */
    .navbar {
        padding: 10px 140px 10px 140px;
        display: flex;
        justify-content: center;
    }

    .navbar .links {
        display: flex;
        justify-content: space-between;
    }

    .links {
        font-size: 1.3rem;
    }

    .logo img {
        width: 500px;
        padding: 20px 140px 20px 140px;
    }

    .container {
        padding: 20px 140px 20px 140px;
        min-width: 980px;
        max-width: 2000px;
    }

    /* NAVBAR  */
}



/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1500PX --------------- */
/* ----------------- SUP. OU ÉGALE ------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 1500px) {

    /* NAVBAR */
    .navbar {
        display: flex;
        justify-content: center;
    }

    .circle_menu {
        width: 25px;
        height: 16px;
    }

    .navbar .links {
        display: flex;
        justify-content: space-between;
    }

    /* NAVBAR */
}