* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: 'Abordage';
    src: url('/fonts/Abordage-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 350PX --------------- */
/* ------------------ SUP. OU ÉGALE ------------------ */
/* --------------------------------------------------- */
@media (min-width: 350px) {

    html,
    body {
        background-color: rgb(247, 245, 216);
    }

    body {
        font-family: "Abordage";
        color: black;
        min-width: 100vw;
        min-height: 100vh;
        overflow-x: hidden;

        p {
            margin: 0;
        }

        a {
            text-decoration: none;
            color: black;
        }
    }

    .foot_form {
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

    .send_message {
        background-color: rgb(27, 237, 177);
        color: black;
        border: 1px solid black;
        padding: 8px 20px;
        border-radius: 10px;
        cursor: pointer;
        margin-bottom: 20px;
        margin-top: 25px;
        font-size: 2.5rem;
        width: 100%;
    }

    .send_message:hover {
        background-color: black;
        color: white;
    }

    .container {
        box-sizing: border-box;
        border-radius: 5px;
        width: 100%;
        min-width: 980px;
        max-width: 999px;
        margin: 0 auto;
        padding: 50px 50px 50px 50px;
    }

    /* INFOS TOP */
    .top_all {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 30px;
    }

    .top_all_logged_out {
        display: flex;
        justify-content: start;
        flex-direction: row;
        gap: 30px;
    }

    .back {
        margin-top: 30px;
    }

    .back a {
        background-color: rgb(27, 237, 177);
        color: black;
        border: 1px solid black;
        padding: 8px 20px;
        border-radius: 10px;
        cursor: pointer;
        margin-bottom: 10px;
        margin-top: 7px;
        font-size: 2.5rem;
        width: fit-content;
    }

    .back a:hover {
        background-color: black;
        color: white;
    }

    /* INFOS TOP */

    /* ANNOUNCE */

    .form_profil {
        width: fit-content;
        padding: 15px;
        height: fit-content;
        border-radius: 20px;
        background-color: white;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .form_profil p {
        font-size: 2.5rem;
    }

    .announce_all {
        width: 100%;
    }

    .form_announce {
        display: flex;
        justify-content: center;
    }

    .announce {
        margin-top: 40px;
        max-width: 800px;
        padding: 15px 30px 30px 30px;
        height: fit-content;
        border-radius: 40px;
        background-color: white;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    }

    p {
        font-size: 2.5rem;
    }

    .link_member,
    .location,
    .classification,
    .materials,
    .quantity,
    .description {
        padding-top: 25px;
    }

    .icon {
        font-size: 40px;
    }

    span {
        font-family: "Lemon Milk";
    }

    .link_member {
        display: flex;
        justify-content: space-between;
    }

    .text {
        display: flex;
        flex-direction: column;
        font-size: 2.5rem;
        font-family: "Lemon Milk";
    }

    /* ANNOUNCE */

    /* CAROUSEL */


    .carousel.hide-carousel {
        opacity: 0;
        pointer-events: none;
    }

    .carousel {
        display: block;
        position: relative;
        height: 500px;
        max-width: 800px;
        margin: 0 auto;
        margin-top: 70px;
        margin-bottom: 70px;
    }

    .carousel__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .carousel__track-container {
        background: rgb(27, 237, 177);
        height: 100%;
        width: 100%;
        position: relative;
        overflow: hidden;
        border-radius: 20px;
    }

    .carousel__track {
        padding: 0;
        margin: 0;
        position: relative;
        height: 100%;
        transition: transform 0.4s ease-in-out;
    }

    .carousel__slide {
        position: absolute;
        top: 0;
        left: 0;
        /* bottom: 0; */
        width: 100%;
        height: 100%;
        display: flex;
    }

    .carousel__button {
        position: absolute;
        top: 50%;
        border: 0;
        background-color: transparent;
        cursor: pointer;
        padding: 5px;
    }

    .carousel__button:hover {
        background-color: rgb(27, 237, 177);
        border-radius: 20px;
    }

    .carousel__button--left {
        left: -40px;
        border-radius: 10px;
        background-color: rgb(27, 237, 177);
    }

    .carousel__button--right {
        right: -40px;
        border-radius: 10px;
        background-color: rgb(27, 237, 177);
    }

    .carousel__button img {
        width: 25px;
    }

    .carousel__nav {
        display: flex;
        justify-content: center;
        padding: 10px 0;
        gap: 1rem;
    }

    .carousel__indicator {
        border: 0;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        background-color: rgba(0, 0, 0, 0.6);
        cursor: pointer;
    }

    .carousel__indicator.current-slide {
        background: rgba(0, 0, 0, 0.9);
    }

    .is-hidden {
        display: none;
    }

    /* CAROUSEL */
}



/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1000PX --------------- */
/* ----------------- SUP. OU ÉGALE ------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 1000px) {

    .container {
        padding: 30px 110px 30px 110px;
        min-width: 999px;
        max-width: 1999px;
    }

    .image {
        width: 30%;
        margin-top: 40px;
        border-radius: 40px;
    }

        /* ANNOUNCE */
        .announce_all {
            display: flex;
            justify-content: space-between;
        }
    
        .announce {
            margin-top: 30px;
            width: 500px;
        }
    
        /* ANNOUNCE */

        /* CAROUSEL */
    .carousel {
        margin-top: 30px;
        width: 800px;
        max-width: 100%;
    }

    /* CAROUSEL */

    .send_message {
        font-size: 1.1rem;
    }

    .form_profil p {
        font-size: 1.1rem;
    }

    p {
        font-size: 1.1rem;
    }

    .link_member, .location, .classification, .materials, .quantity, .description, .value {
        padding-top: 15px;
    }

    .back {
        margin-top: 20px;
    }

    .back a {
        font-size: 1.1rem;
    }
}


/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1200PX --------------- */
/* ----------------- SUP. OU ÉGALE ------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 1200px) {

    .container {
        min-width: 1200px;
        padding: 20px 140px 20px 140px;
    }

    /* INFOS TOP */
    .top_all {
        display: flex;
        justify-content: space-between;
    }

    span {
        font-size: 1.1rem;
    }

    .form_profil {
        height: 45px;
    }

    .info_new_research {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    /* INFOS TOP */

    /* CAROUSEL */
    .carousel {
        margin-top: 30px;
        width: 800px;
        max-width: 100%;
    }

    /* CAROUSEL */

    .bordure {
        border: 1px solid black;
        margin: 35px 60px 0px 60px;
    }
}



/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1500PX --------------- */
/* ----------------- SUP. OU ÉGALE ------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 1500px) {

    .container {
        min-width: 1500px;
    }

    /* ANNOUNCE */

    .announce {
        margin: 30px 0px 40px 0;
        width: 700px;
        height: fit-content;
    }

    /* ANNOUNCE */

    .carousel {
        width: 900px;
        height: auto;
    }

    /* CAROUSEL */

    .bordure {
        height: 600px;
    }
}