* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

@media (min-width: 350px) and (max-width: 1199px) {
    .form_profil_large_two {
        flex: 1;
    }
}

/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 350PX --------------- */
/* ------------------ SUP. OU ÉGALE ------------------ */
/* --------------------------------------------------- */
@media (min-width: 350px) {

    html,
    body {
        background-color: rgb(247, 245, 216);
    }

    body {
        font-family: "Abordage";
        color: black;
        min-width: 100vw;
        min-height: 100vh;
        text-align: justify;
        overflow-x: hidden;

        p {
            margin: 0;
        }

        a {
            text-decoration: none;
            color: black;
        }
    }

    .update_announce,
    .delete_announce {
        background-color: rgb(27, 237, 177);
        color: black;
        padding: 8px 20px;
        border: none;
        border-radius: 55px;
        cursor: pointer;
        margin-bottom: 25px;
        font-size: 2.7rem;
        width: 100%;
    }

    .container {
        box-sizing: border-box;
        border-radius: 5px;
        width: 100%;
        min-width: 980px;
        max-width: 999px;
        margin: 0 auto;
        padding: 50px 50px 50px 50px;
    }

    /* INFOS TOP */
    .top_all {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 30px;
    }

    /* INFOS TOP */

    /* ANNOUNCE */

    .form_profil {
        width: fit-content;
        padding: 15px;
        height: fit-content;
        border-radius: 20px;
        background-color: white;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .form_profil p {
        font-size: 2.5rem;
    }

    .form_profil_large_one {
        margin-top: 30px;
        width: 100%;
        padding: 30px 40px 30px 40px;
        height: fit-content;
        border-radius: 20px;
        background-color: white;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
        display: flex;
        align-items: center;
        text-decoration: underline;
        font-size: 2.5rem;
    }

    .announce {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .form_profil_large_two {
        box-sizing: border-box;
        margin-top: 30px;
        margin-bottom: 20px;
        width: 100%;
        padding: 30px 40px 30px 40px;
        height: 450px;
        border-radius: 20px;
        background-color: white;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: column;
    }

    .text {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        font-family: "Lemon Milk";
        font-size: 2rem;
        text-align: start;
    }

    .foot_form {
        display: flex;
        flex-direction: column;
        margin-top: 25px;
        width: 100%;

        a {
            width: 100%;
        }
    }

    .announce_inline {
        width: 100%;

        img {
            object-fit: cover;
            border-radius: 20px;
            height: 400px;
            width: 100%;
        }
    }
}



/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1000PX --------------- */
/* ----------------- SUP. OU ÉGALE ------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 1000px) {

    .container {
        padding: 30px 110px 30px 110px;
        min-width: 999px;
        max-width: 1999px;
    }

    .form_profil p {
        font-size: 1.2rem;
    }

    .form_profil_large_one p {
        font-size: 1.5rem;
        text-align: start;
    }

    .text {
        font-size: 1.3rem;
        text-align: start;
    }

    .update_announce,
    .delete_announce {
        font-size: 1.3rem;
    }

    .update_announce:hover,
    .delete_announce:hover {
        background-color: black;
        color: white;
    }

    .form_profil_large_one, .form_profil_large_two {
        padding: 20px 40px 20px 40px;
    }
}


/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1200PX --------------- */
/* ----------------- SUP. OU ÉGALE ------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 1200px) {

    .container {
        padding: 20px 140px 20px 140px;
        min-width: 980px;
        max-width: 2000px;
        margin: 0;
    }

    /* INFOS TOP */
    .top_all {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .form_profil_large_one {
        margin-top: 35px;
    }

    .form_profil_large_one p {
        font-size: 1.3rem;
    }
    
    /* INFOS TOP */


    /* ANNOUNCE */

    .announce_inline {
        display: flex;
        justify-content: center;
        width: 100%;

        img {
            height: 200px;
        }
    }

    .announce {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        margin-bottom: 30px;
    }

    .text {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        font-family: "Lemon Milk";
        font-size: 1.1rem;
    }

    .form_profil_large_two {
        margin-top: 35px;
        display: flex;
        flex-direction: column;
        width: 47%;
        justify-content: space-between;
    }

    .form_profil p {
        font-size: 1.1rem;
    }

    .foot_form {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 0;
        width: 100%;
    }

    .update_announce,
    .delete_announce{
        margin-bottom: 0;
        margin-top: 15px;
    }

    /* ANNOUNCE */
}



/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1500PX --------------- */
/* ----------------- SUP. OU ÉGALE ------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 1500px) {

    .announce_inline img {
        max-height: 540px;
        width: 100%;
        object-fit: cover;
        border-radius: 20px;
    }

    .announce {
        margin-bottom: 30px;
        gap: 30px;
    }
}

/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1800PX --------------- */
/* ----------------- SUP. OU ÉGALE ------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 1800px) {
}