* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 350PX --------------- */
/* ------------------ SUP. OU ÉGALE ------------------ */
/* --------------------------------------------------- */
@media (min-width: 350px) {

    html,
    body {
        background-color: rgb(247, 245, 216);
    }

    body {
        font-family: "Abordage";
        color: black;
        min-width: 100vw;
        min-height: 100vh;
        text-align: justify;
        overflow-x: hidden;

        p {
            margin: 0;
        }

        a {
            text-decoration: none;
            color: black;
        }
    }

    /* NAVBAR */
    .navbar .burger-menu-button {
        color: black;
        cursor: pointer;
        display: none;
        display: block;
    }

    .container_menu {
        display: flex;
        justify-content: space-between;
        padding: 20px 50px 20px 50px;
    }

    .navbar .links {
        display: none;
    }

    .logo img {
        width: 250px;
    }

    header {
        position: relative;
        background-color: rgb(27, 237, 177);
    }

    .navbar {
        display: flex;
        align-items: end;
        justify-content: center;
    }

    li {
        list-style: none;
    }

    .burger-menu {
        display: block;
        height: 0;
        position: absolute;
        width: 100%;
        overflow: hidden;
        transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        background-color: rgb(27, 237, 177);
    }

    .burger-menu.open {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .burger-menu.open a {
        font-size: 4rem;
    }

    .links {
        margin: 0;
        padding: 0;
    }

    .burger-menu li {
        padding: 0.7rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .burger-menu-button i {
        padding: 15px 0 15px 0;
        transform: scale(4.5);
    }

    .fa-solid.fa-bars,
    .fa-solid.fa-xmark {
        padding-right: 10px;
    }

    .dropdown-menu_one {
        z-index: 100;
        border: 2px solid black;
        display: none;
        position: absolute;
        justify-content: center;
        padding: 10px;
        width: 280px;
        margin-left: 20px;
        background-color: rgb(243, 237, 79);
        text-align: center;
    }

    .dropdown:hover .dropdown-menu_one {
        display: block;
    }

    .dropdown-menu_two {
        z-index: 100;
        border: 2px solid black;
        display: none;
        position: absolute;
        justify-content: center;
        padding: 10px;
        width: 280px;
        margin-left: 20px;
        background-color: rgb(243, 237, 79);
        text-align: center;
    }

    .dropdown:hover .dropdown-menu_two {
        display: block;
    }

    .circle_menu {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: black;
    }

    /* NAVBAR */

    .update_announce,
    .delete_announce {
        background-color: rgb(27, 237, 177);
        color: black;
        padding: 8px 20px;
        border: none;
        border-radius: 55px;
        cursor: pointer;
        margin-bottom: 25px;
        font-size: 2.7rem;
        width: 100%;
    }

    .container {
        box-sizing: border-box;
        border-radius: 5px;
        width: 100%;
        min-width: 980px;
        max-width: 999px;
        margin: 0 auto;
        padding: 50px 50px 50px 50px;
    }

    /* INFOS TOP */
    .top_all {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }

    /* INFOS TOP */

    /* ANNOUNCE */

    .form_profil {
        width: fit-content;
        padding: 20px;
        height: fit-content;
        border-radius: 20px;
        background-color: white;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .form_profil p {
        font-size: 2.5rem;
    }

    .form_profil_large_one {
        margin-top: 30px;
        width: 100%;
        padding: 35px 40px 30px 40px;
        height: fit-content;
        border-radius: 20px;
        background-color: white;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
        display: flex;
        align-items: center;
        text-decoration: underline;
        font-size: 2.5rem;
    }

    .announce {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .form_profil_large_two {
        margin-top: 30px;
        width: 100%;
        padding: 35px 40px 30px 40px;
        height: 450px;
        border-radius: 20px;
        background-color: white;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    .text {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        font-family: "Lemon Milk";
        font-size: 2rem;
        text-align: start;
    }

    .foot_form {
        display: flex;
        flex-direction: column;
        margin-top: 25px;
        width: 100%;

        a {
            width: 100%;
        }
    }

    .announce_inline {
        width: 100%;

        img {
            object-fit: cover;
            border-radius: 20px;
            height: 400px;
            width: 100%;
        }
    }
}



/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1000PX --------------- */
/* ----------------- SUP. OU ÉGALE ------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 1000px) {

    /* NAVBAR */
    .navbar {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 10px 110px 10px 110px;
        background-color: rgb(243, 237, 79);
        box-shadow: 2px 2px 10px 1px rgb(243, 237, 79);
    }

    .circle_menu {
        width: 17px;
        height: 10px;
        border-radius: 50%;
        background-color: black;
    }

    .navbar .burger-menu-button {
        display: none;
    }

    .navbar .links {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .burger-menu {
        display: none;
    }

    .links {
        width: 100%;
        font-size: 1.2rem;
    }

    .container_menu {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .logo img {
        width: 400px;
        padding: 15px 110px 15px 110px;
    }

    /* NAVBAR */

    .container {
        padding: 30px 110px 30px 110px;
        min-width: 999px;
        max-width: 1999px;
    }


    .form_profil p {
        font-size: 1.2rem;
    }

    .form_profil_large_one p {
        font-size: 1.5rem;
        text-align: start;
    }

    .text {
        font-size: 1.3rem;
        text-align: start;
    }

    .update_announce,
    .delete_announce {
        font-size: 1.3rem;
    }

    .update_announce:hover,
    .delete_announce:hover {
        background-color: black;
        color: white;
    }
}


/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1200PX --------------- */
/* ----------------- SUP. OU ÉGALE ------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 1200px) {

    /* NAVBAR  */
    .navbar {
        padding: 10px 140px 10px 140px;
        display: flex;
        justify-content: center;
    }

    .navbar .links {
        display: flex;
        justify-content: space-between;
    }

    .links {
        font-size: 1.3rem;
    }

    .logo img {
        width: 500px;
        padding: 20px 140px 20px 140px;
    }

    .container {
        box-sizing: border-box;
        border-radius: 5px;
        padding: 30px 140px 30px 140px;
        width: 100%;
        min-width: 980px;
        max-width: 2000px;
        margin: 0;
    }

    /* NAVBAR  */

    /* INFOS TOP */
    .top_all {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .form_profil_large_one {
        margin-top: 35px;
    }

    .form_profil_large_one p {
        font-size: 1.3rem;
    }


    /* INFOS TOP */


    /* ANNOUNCE */

    .announce_inline {
        display: flex;
        justify-content: center;
        width: 100%;

        img {
            height: 200px;
        }
    }

    .announce {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        margin-bottom: 30px;
        gap: 30px;
    }

    .text {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        font-family: "Lemon Milk";
        font-size: 1.1rem;
    }

    .form_profil_large_two {
        margin-top: 35px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .form_profil p {
        font-size: 1.1rem;
    }

    .foot_form {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 0;
        width: 100%;
    }

    .update_announce,
    .delete_announce{
        margin-bottom: 0;
        margin-top: 15px;
    }

    /* ANNOUNCE */
}



/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1500PX --------------- */
/* ----------------- SUP. OU ÉGALE ------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 1500px) {

    /* NAVBAR */
    .navbar {
        display: flex;
        justify-content: center;
    }

    .circle_menu {
        width: 25px;
        height: 16px;
    }

    .navbar .links {
        display: flex;
        justify-content: space-between;
    }

    /* NAVBAR */

    .announce_inline img {
        max-height: 540px;
        width: 100%;
        object-fit: cover;
        border-radius: 20px;
    }

    .announce {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        margin-bottom: 30px;
        gap: 30px;
    }
}

/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1800PX --------------- */
/* ----------------- SUP. OU ÉGALE ------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 1800px) {
}