* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 350PX --------------- */
/* ------------------ SUP. OU ÉGALE ------------------ */
/* --------------------------------------------------- */
@media (min-width: 350px) {

    html,
    body {
        background-color: rgb(247, 245, 216);
    }

    body {
        font-family: "Abordage";
        color: black;
        min-width: 100vw;
        min-height: 100vh;
        text-align: justify;
        overflow-x: hidden;

        p {
            margin: 0;
            font-size: 2.7rem;
        }

        a {
            text-decoration: none;
            color: black;
        }
    }

    /* NAVBAR */
    .navbar .burger-menu-button {
        color: black;
        cursor: pointer;
        display: none;
        display: block;
    }

    .container_menu {
        display: flex;
        justify-content: space-between;
        padding: 20px 50px 20px 50px;
    }

    .navbar .links {
        display: none;
    }

    .logo img {
        width: 250px;
    }

    header {
        position: relative;
        background-color: rgb(27, 237, 177);
    }

    .navbar {
        display: flex;
        align-items: end;
        justify-content: center;
    }

    li {
        list-style: none;
    }

    .burger-menu {
        display: block;
        height: 0;
        position: absolute;
        width: 100%;
        overflow: hidden;
        transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        background-color: rgb(27, 237, 177);
    }

    .burger-menu.open {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .burger-menu.open a {
        font-size: 4rem;
    }

    .links {
        margin: 0;
        padding: 0;
    }

    .burger-menu li {
        padding: 0.7rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .burger-menu-button i {
        padding: 15px 0 15px 0;
        transform: scale(4.5);
    }

    .fa-solid.fa-bars,
    .fa-solid.fa-xmark {
        padding-right: 10px;
    }

    .dropdown-menu_one {
        z-index: 100;
        border: 2px solid black;
        display: none;
        position: absolute;
        justify-content: center;
        padding: 10px;
        width: 280px;
        margin-left: 20px;
        background-color: rgb(243, 237, 79);
        text-align: center;
    }

    .dropdown:hover .dropdown-menu_one {
        display: block;
    }

    .dropdown-menu_two {
        z-index: 100;
        border: 2px solid black;
        display: none;
        position: absolute;
        justify-content: center;
        padding: 10px;
        width: 280px;
        margin-left: 20px;
        background-color: rgb(243, 237, 79);
        text-align: center;
    }

    .dropdown:hover .dropdown-menu_two {
        display: block;
    }

    .circle_menu {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: black;
    }

    /* NAVBAR */

    /* NAV TWO */
    .nav-two {
        height: 100px;
        background-color: rgb(247, 245, 216);
        box-shadow: 2px 2px 10px 1px rgb(156, 156, 154);
        padding: 70px 0 70px 50px;
        display: flex;
        align-items: center;
        gap: 100px;
    }

    h1 {
        font-size: 2.5rem;
    }

    .fa-solid.fa-chevron-left {
        font-size: 50px;
    }

    /* NAV TWO */

    .container {
        box-sizing: border-box;
        min-width: 350px;
        max-width: 1000px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px 50px 20px 50px;
        margin: 0;
    }

    /* ALL MESSAGE */

    .description_announce {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: start;
        gap: 40px;
        width: 100%;
        margin-bottom: 50px;
    }

    .text_announce p {
        font-size: 2.5rem;
        line-height: 3rem;
    }

    .look_announce {
        font-size: 2.5rem;
    }

    .img_announce img {
        width: 210px;
        height: 210px;
        border-radius: 50%;
    }

    span {
        font-family: "Lemon milk";
        font-size: 2.5rem;
    }

    .icons_announce {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .icons_announce i {
        font-size: 75px;
    }

    /* ALL MESSAGE */
}


/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1000PX --------------- */
/* ----------------- SUP. OU ÉGALE ------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 1000px) {

    p {
        font-size: 1.1rem;
    }

    /* NAVBAR */
    .navbar {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 10px 110px 10px 110px;
        background-color: rgb(243, 237, 79);
        box-shadow: 2px 2px 10px 1px rgb(243, 237, 79);
    }

    .circle_menu {
        width: 17px;
        height: 10px;
        border-radius: 50%;
        background-color: black;
    }

    .navbar .burger-menu-button {
        display: none;
    }

    .navbar .links {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .burger-menu {
        display: none;
    }

    .links {
        width: 100%;
        font-size: 1.2rem;
    }

    .container_menu {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .logo img {
        width: 400px;
        padding: 15px 110px 15px 110px;
    }

    /* NAVBAR */

}


/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1200PX --------------- */
/* ----------------- SUP. OU ÉGALE ------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 1200px) {

    /* NAVBAR  */
    .navbar {
        padding: 10px 140px 10px 140px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navbar .links {
        display: flex;
        justify-content: space-between;
    }

    .links {
        font-size: 1.3rem;
    }

    .logo img {
        width: 500px;
        padding: 20px 140px 20px 140px;
    }

    /* NAVBAR  */

    .container {
        padding: 50px 50px 20px 140px;
    }

    /* NAV TWO */
    .nav-two {
        padding: 70px 0 70px 140px;
    }

    h1 {
        font-size: 2.3rem;
    }

    /* NAV TWO */
}



/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1500PX --------------- */
/* ----------------- SUP. OU ÉGALE ------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 1500px) {

    /* NAVBAR */
    .navbar {
        display: flex;
        justify-content: center;
    }

    .circle_menu {
        width: 25px;
        height: 16px;
    }

    .navbar .links {
        display: flex;
        justify-content: space-between;
    }

    /* NAVBAR */

}



/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1800PX -------------- */
/* ----------------- SUP. OU ÉGALE ------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 1800px) {}