* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 350PX --------------- */
/* ------------------ SUP. OU ÉGALE ------------------ */
/* --------------------------------------------------- */
@media (min-width: 350px) {

    html,
    body {
        background-color: rgb(247, 245, 216);
    }

    body {
        font-family: "Abordage";
        color: black;
        min-width: 100vw;
        min-height: 100vh;
        text-align: justify;
        overflow-x: hidden;

        p {
            margin: 0;
            font-size: 2.7rem;
        }

        a {
            text-decoration: none;
            color: black;
        }
    }

    /* NAVBAR */
    .navbar .burger-menu-button {
        color: black;
        cursor: pointer;
        display: none;
        display: block;
    }

    .container_menu {
        display: flex;
        justify-content: space-between;
        padding: 20px 50px 20px 50px;
    }

    .navbar .links {
        display: none;
    }

    .logo img {
        width: 250px;
    }

    header {
        position: relative;
        background-color: rgb(27, 237, 177);
    }

    .navbar {
        display: flex;
        align-items: end;
        justify-content: center;
    }

    li {
        list-style: none;
    }

    .burger-menu {
        display: block;
        height: 0;
        position: absolute;
        width: 100%;
        overflow: hidden;
        transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        background-color: rgb(27, 237, 177);
    }

    .burger-menu.open {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .burger-menu.open a {
        font-size: 4rem;
    }

    .links {
        margin: 0;
        padding: 0;
    }

    .burger-menu li {
        padding: 0.7rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .burger-menu-button i {
        padding: 15px 0 15px 0;
        transform: scale(4.5);
    }

    .fa-solid.fa-bars,
    .fa-solid.fa-xmark {
        padding-right: 10px;
    }

    .dropdown-menu_one {
        z-index: 100;
        border: 2px solid black;
        display: none;
        position: absolute;
        justify-content: center;
        padding: 10px;
        width: 280px;
        margin-left: 20px;
        background-color: rgb(243, 237, 79);
        text-align: center;
    }

    .dropdown:hover .dropdown-menu_one {
        display: block;
    }

    .dropdown-menu_two {
        z-index: 100;
        border: 2px solid black;
        display: none;
        position: absolute;
        justify-content: center;
        padding: 10px;
        width: 280px;
        margin-left: 20px;
        background-color: rgb(243, 237, 79);
        text-align: center;
    }

    .dropdown:hover .dropdown-menu_two {
        display: block;
    }

    .circle_menu {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: black;
    }

    /* NAVBAR */



    /* CONTAINER 1 */

    .container_one {
        box-sizing: border-box;
        max-width: 100vw;
        display: flex;
        flex-direction: column;
        padding: 50px 50px 20px 50px;
        margin: 0;
        display: none;
    }

    .description_announce {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 50px;
    }

    .text_announce p {
        font-size: 2.5rem;
        line-height: 3rem;
    }

    .look_announce {
        font-size: 2.5rem;
    }

    .img_announce img {
        width: 210px;
        height: 210px;
        border-radius: 50%;
    }

    span {
        font-family: "Lemon milk";
        font-size: 2.5rem;
    }

    .icons_announce {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .icons_announce i {
        font-size: 26px;
        background-color: rgb(255, 255, 255);
        color: #000000;
        border: 1px solid black;
        border-radius: 5px;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
    }

    .icons_announce i:hover {
        background-color: #000000;
        color: white;
    }

    /* CONTAINER 1 */



    /* CONTAINER 2 */
    .container_two {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        padding: 50px 50px 10px 50px;
        margin: 0;
    }

    .avatar {
        margin: 0 40px 10px 40px;
        width: 45px;
        height: 45px;
        border-radius: 50%;
    }

    .message_user_two {
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: end;
    }

    .bubble_one,
    .bubble_two {
        width: 60vw;
        height: fit-content;
        padding: 40px;
        background-color: white;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
        border-radius: 60px;
        text-align: start;
    }

    .datetime_one,
    .datetime_two {
        font-size: 1.7rem;
        padding-top: 12px;
    }

    .datetime_one {
        padding-left: 40px;
    }

    .datetime_two {
        padding-right: 40px;
    }


    /* TEXTAREA */

    .message-input {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 45px;
        box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(242, 241, 241);
    }

    textarea {
        width: calc(100% - 120px);
        height: 70px;
        border: none;
        outline: none;
        border-radius: 5px;
        resize: none;
        font-size: 2.2rem;
        background-color: rgb(255, 255, 255);
        border-radius: 30px;
        overflow-y: scroll;
        scrollbar-width: none;
        padding: 15px;
    }

    .fa-regular.fa-paper-plane {
        background-color: rgb(255, 255, 255);
        color: #000000;
        border-radius: 30px;
        padding: 15px 20px;
        font-size: 40px;
        cursor: pointer;
    }

    textarea::-webkit-scrollbar-track {
        background-color: rgb(27, 237, 177);
    }

    textarea::-webkit-scrollbar-thumb {
        background-color: #000;
    }

    /* TEXTAREA */
    /* CONTAINER 2 */

}


/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1000PX --------------- */
/* ----------------- SUP. OU ÉGALE ------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 1000px) {

    p {
        font-size: 1.7rem;
    }

    /* NAVBAR */
    .navbar {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 10px 110px 10px 110px;
        background-color: rgb(243, 237, 79);
        box-shadow: 2px 2px 10px 1px rgb(243, 237, 79);
    }

    .circle_menu {
        width: 17px;
        height: 10px;
        border-radius: 50%;
        background-color: black;
    }

    .navbar .burger-menu-button {
        display: none;
    }

    .navbar .links {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .burger-menu {
        display: none;
    }

    .links {
        width: 100%;
        font-size: 1.2rem;
    }

    .container_menu {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .logo img {
        width: 400px;
        padding: 15px 110px 15px 110px;
    }

    /* NAVBAR */

}


/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1200PX --------------- */
/* ----------------- SUP. OU ÉGALE ------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 1200px) {

    body {
        p {
            font-size: 1rem;
            text-align: start;
        }
    }

    /* NAVBAR  */
    .navbar {
        padding: 10px 140px 10px 140px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navbar .links {
        display: flex;
        justify-content: space-between;
    }

    .links {
        font-size: 1.3rem;
    }

    .logo img {
        width: 500px;
        padding: 20px 140px 20px 140px;
    }

    /* NAVBAR  */


    .all_container {
        display: flex;
    }

    /* NAV TWO */
    /* .nav-two {
        padding: 10px 20px 10px 0px;
        display: flex;
        margin-bottom: 50px;
        margin-top: 20px;
        height: fit-content;
        background-color: rgb(247, 245, 216);
        border-bottom: 1px solid black;
    } */

    .info_user {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    span {
        font-family: "Lemon milk";
        font-size: 1rem;
    }

    /* NAV TWO */



    /* CONTAINER 1 */
    .container_one {
        height: 76vh;
        display: flex;
        align-items: start;
        flex-direction: row;
        width: 35%;
        padding: 0 0 0 140px;
    }

    .description_announce {
        padding-top: 50px;
    }

    .text_announce p {
        font-size: 0.9rem;
        line-height: 1.3rem;
    }

    .look_announce {
        font-size: 0.9rem;
    }

    .img_announce img {
        width: 80px;
        height: 80px;
    }

    .icons_announce {
        gap: 10px;
    }

    .icons_announce i {
        font-size: 16px;
    }

    /* SCROLLBAR */
    .scrollbar {
        float: left;
        height: 577px;
        width: 65px;
        overflow-y: scroll;
    }

    .force-overflow {
        min-height: 815px;
    }

    #wrapper {
        text-align: center;
        width: 500px;
        margin: auto;
    }

    #style-1::-webkit-scrollbar-track {
        background-color: rgb(27, 237, 177);
    }

    #style-1::-webkit-scrollbar {
        width: 25px;
    }

    #style-1::-webkit-scrollbar-thumb {
        background-color: #000000;
        border-radius: 0 0 30px 30px;
    }

    /* SCROLLBAR */

    /* CONTAINER 1 */



    /* CONTAINER 2 */

    .container_two {
        height: 76vh;
        width: 65%;
        padding: 50px 140px 0 140px;
        position: relative;
    }

    .avatar {
        width: 40px;
        height: 40px;
        margin: 0 15px 8px 15px
    }

    .bubble_one,
    .bubble_two {
        width: 30vw;
        padding: 15px;
        border-radius: 20px;
    }

    .datetime_one,
    .datetime_two {
        font-size: 0.7rem;
        padding-top: 10px;
    }

    .datetime_one {
        padding-left: 15px;
    }

    .datetime_two {
        padding-right: 15px;
    }


    /* TEXTAREA */

    .message-input {
        position: absolute;
        display: flex;
        align-items: center;
        padding: 20px;
        z-index: 999;
    }

    textarea {
        flex-grow: 1;
        margin-right: 10px;
        padding: 10px;
        border: none;
        font-size: 1rem;
        color: #2f2f2f;
        width: 100%;
        height: 100px;
        border-radius: 20px;
    }

    textarea:focus {
        border: 2px solid;
        border-color: rgb(27, 237, 177);
        outline: none;
    }

    .fa-regular.fa-paper-plane {
        border-radius: 5px;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        border: 1px solid black;
    }

    .fa-regular.fa-paper-plane:hover {
        background-color: #000000;
        color: white;
    }

    /* TEXTAREA */
    /* CONTAINER 2 */

}



/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1500PX --------------- */
/* ----------------- SUP. OU ÉGALE ------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 1500px) {

    body {
        p {
            font-size: 1.1rem;
        }
    }

    /* NAVBAR */
    .navbar {
        display: flex;
        justify-content: center;
    }

    .circle_menu {
        width: 25px;
        height: 16px;
    }

    .navbar .links {
        display: flex;
        justify-content: space-between;
    }

    /* NAVBAR */



    /* NAV TWO */

    span {
        font-family: "Lemon milk";
        font-size: 1.2rem;
    }

    /* NAV TWO */


    /* CONTAINER 1 */


    .container_one {
        height: 81vh;
        width: 30%;
        padding: 0px 0 0 140px;
    }

    .text_announce p {
        font-size: 1.1rem;
        line-height: 1.6rem;
    }

    .look_announce {
        font-size: 1.1rem;
    }

    .img_announce img {
        width: 90px;
        height: 90px;
    }

    .icons_announce {
        gap: 20px;
    }


    /* SCROLLBAR */
    .scrollbar {
        height: 757px;
    }

    #style-1::-webkit-scrollbar-track {
        background-color: rgb(27, 237, 177);
    }

    #style-1::-webkit-scrollbar {
        width: 25px;
    }

    #style-1::-webkit-scrollbar-thumb {
        background-color: #000000;
    }

    /* SCROLLBAR */
    /* CONTAINER 1 */


    /* CONTAINER 2 */
    .container_two {
        height: 81vh;
        width: 70%;
        padding-bottom: 300px;
    }

    .avatar {
        width: 50px;
        height: 50px;
        margin-bottom: 10px;
    }

    .bubble_one,
    .bubble_two {
        width: 35vw;
    }


    /* TEXTAREA */

    .message-input {
        justify-content: space-between;
        background-color: rgb(242, 241, 241);
    }

    /* TEXTAREA */
    /* CONTAINER 2 */
}



/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1800PX -------------- */
/* ----------------- SUP. OU ÉGALE ------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 1800px) {}