* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: 'Abordage';
    src: url('/fonts/Abordage-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 350PX --------------- */
/* ------------------ SUP. OU ÉGALE ------------------ */
/* --------------------------------------------------- */
@media (min-width: 350px) {

    html,
    body {
        background-color: rgb(247, 245, 216);
    }

    body {
        font-family: "Abordage";
        color: black;
        min-width: 100vw;
        min-height: 100vh;
        text-align: justify;
        overflow-x: hidden;

        p {
            margin: 0;
        }

        a {
            text-decoration: none;
            color: black;
        }
    }

    /* NAV TWO */
    .nav-two {
        height: 100px;
        background-color: rgb(247, 245, 216);
        box-shadow: 2px 2px 10px 1px rgb(156, 156, 154);
        padding: 70px 0 70px 50px;
        display: flex;
        align-items: center;
        gap: 100px;
    }

    h1 {
        font-size: 2.5rem;
    }

    .fa-solid.fa-chevron-left {
        font-size: 50px;
    }

    /* NAV TWO */

    .container {
        box-sizing: border-box;
        min-width: 350px;
        max-width: 730px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px 50px 20px 50px;
        margin: 0;
    }

    /* ALL MESSAGE */

    .description_announce {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: start;
        gap: 40px;
        width: 100%;
    }

    .text_announce p {
        font-size: 2.3rem;
        line-height: 2.8rem;
    }

    .look_announce {
        font-size: 2.3rem;
    }

    .img_announce img {
        width: 160px;
        height: 160px;
        border-radius: 50%;
    }

    span {
        font-family: "Lemon milk";
        font-size: 2.2rem;
    }

    .icons_announce {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .icons_announce i {
        font-size: 55px;
    }

    /* ALL MESSAGE */
}


/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1000PX --------------- */
/* ----------------- SUP. OU ÉGALE ------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 1000px) {

    p {
        font-size: 1.1rem;
    }
}


/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1200PX --------------- */
/* ----------------- SUP. OU ÉGALE ------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 1200px) {

    .container {
        padding: 50px 50px 20px 140px;
    }

    /* NAV TWO */
    .nav-two {
        padding: 70px 0 70px 140px;
    }

    h1 {
        font-size: 2.3rem;
    }

    /* NAV TWO */
}



/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1500PX --------------- */
/* ----------------- SUP. OU ÉGALE ------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 1500px) {
}



/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1800PX -------------- */
/* ----------------- SUP. OU ÉGALE ------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 1800px) {}