* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: 'Abordage';
    src: url('/fonts/Abordage-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 350PX --------------- */
/* ------------------ SUP. OU ÉGALE ------------------ */
/* --------------------------------------------------- */
@media (min-width: 350px) {

    html,
    body {
        background-color: rgb(247, 245, 216);
    }

    body {
        font-family: "Abordage";
        color: black;
        min-width: 100vw;
        min-height: 100vh;
        text-align: justify;
        overflow-x: hidden;

        p {
            margin: 0;
        }

        a {
            text-decoration: none;
            color: black;
        }
    }

    .container {
        box-sizing: border-box;
        border-radius: 5px;
        padding: 50px;
        width: 100%;
        min-width: 980px;
        max-width: 900px;
        margin: 0 auto;
    }

    #map {
        height: 800px;
        z-index: 0;
        margin-top: 40px;
        margin-bottom: 20px;
    }

    /* FORM  */
    label {
        margin-right: 0px;
        margin-left: 0px;
        font-size: 3rem;
    }

    #material-bio-select,
    #material-geo-select,
    #research_form_classification,
    #research_form_geographicalArea,
    #research_material {
        width: 100%;
        border: none;
        outline: none;
        padding: 5px 5px 0px 5px;
        color: rgb(123, 122, 122);
        border-bottom: 1px solid rgb(92, 91, 91);
        border-radius: 0;
        box-sizing: border-box;
        margin-bottom: 26px;
        margin-top: 6px;
        margin-right: 0px;
        margin-left: 0px;
        resize: vertical;
        background-color: transparent;
        font-size: 2.7rem;
    }

    #research_form_search {
        background-color: rgb(27, 237, 177);
        color: black;
        border: 1px solid black;
        padding: 8px 20px;
        border-radius: 10px;
        cursor: pointer;
        margin-bottom: 20px;
        margin-top: 25px;
        font-size: 2.5rem;
        width: 100%;
    }

    #research_form_search:hover {
        background-color: black;
        color: white;
    }

    .foot_form {
        border: none;
        border-radius: 10px;
        padding: 8px 20px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        background-color: rgb(27, 237, 177, 0.2);
        font-size: 1.5rem;
    }

    .search div {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .redirection {
        width: 100%;
    }

    .foot_form a {
        display: flex;
        justify-content: center;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 30px rgb(247, 245, 216) inset !important;
    }

    #openModal {
        border: none;
        background-color: rgb(27, 237, 177, 0.2);
        font-size: 1.2rem;
        display: flex;
        align-items: start;
        margin-top: 0;
        margin-bottom: 16px;
        border-radius: 10px;
        width: fit-content;
        padding: 6px;
        transition: transform 0.3s ease;
    }

    #openModal:hover {
        transform: rotate(-2deg);
    }

    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        overflow: auto;
    }

    .modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 15px 25px 35px 25px;
        border: 2px solid black;
        box-shadow: 0px 0px 10px 1px white;
        width: 80%;
    }

    .custom-popup {
        font-family: "Abordage";

        h6 {
            font-family: "Lemon Milk";
        }

        .container a {
            display: flex;
            justify-content: start;
        }
    }

    .scrolling-text-container {
        min-width: 100%;
        overflow: hidden;
        display: flex;
    }

    .scrolling-text {
        display: block;
        margin-right: 500px;
        font-size: 3.5rem;
        white-space: nowrap;
        animation: scrollText 10s linear infinite;
        animation-direction: alternate-reverse;
    }

    @keyframes scrollText {
        from {
            transform: translateX(100%);
        }

        to {
            transform: translateX(-100%);
        }
    }

    .hide-on-menu-open .scrolling-text .hidden {
        display: none;
    }

    .bordure {
        border: 1px solid black;
    }

    .back a {
        background-color: rgb(27, 237, 177);
        color: black;
        border: 1px solid black;
        padding: 8px 20px;
        border-radius: 10px;
        cursor: pointer;
        margin-bottom: 10px;
        margin-top: 7px;
        font-size: 2.5rem;
        width: fit-content;
    }

    .back a:hover {
        background-color: black;
        color: white;
    }
}




/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1000PX --------------- */
/* ----------------- SUP. OU ÉGALE ------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 1000px) {

    .scrolling-text {
        display: block;
        margin-right: 500px;
        font-size: 1.5rem;
    }

    /* FORM */
    .container {
        padding: 20px 110px 20px 110px;
        min-width: 1000px;
        max-width: 1500px;
        margin: 0;
    }

    #research {
        width: 100%;
        display: flex;
        flex-direction: row;
        display: flex;
        justify-content: space-between;
    }

    .form {
        width: 100%;
    }

    #research_form {
        width: 100%;
    }

    #map {
        height: 400px;
        margin-bottom: 15px;
        margin-top: 0;
    }

    .action_research {
        width: 100%;
    }

    label {
        margin-right: 0px;
        margin-left: 0px;
        font-size: 1.1rem;
        margin-bottom: 5px;
    }

    #material-bio-select,
    #material-geo-select,
    #research_form_classification,
    #research_form_geographicalArea,
    #research_material {
        font-size: 1.1rem;
        margin-bottom: 10px;
        margin-top: 0px;
    }


    #research_form_search {
        font-size: 1.1rem;
        margin-top: 15px;
        margin-bottom: 15px;
        text-align: center;
        width: 40%;
    }

    .redirection {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

    .search .foot_form {
        width: 40%;
        margin: 0 auto;

    }

    .search .foot_form .redirection {
        width: 100%;
    }

    .foot_form {

        p,
        a {
            font-size: 1rem;
        }

    }

    /* MODALE */
    #openModal {
        font-size: 0.8rem;
    }

    .modal-content {
        font-size: 1.3rem;
    }

    .close {
        font-size: 35px;
    }

    /* MODALE */

    .back a {
        font-size: 1.1rem;
    }
}




/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1200PX --------------- */
/* ----------------- SUP. OU ÉGALE ------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 1200px) {
    .container {
        min-width: 1200px;
        max-width: 1400px;
        padding: 20px 140px 20px 140px;
    }
}




/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1500PX --------------- */
/* ----------------- SUP. OU ÉGALE ------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 1500px) {

    /* FORM */

    #research_form_search {
        padding: 12px 20px;
    }

    .foot_form {
        margin-top: 0;
    }

    /* FORM */

    #map {
        height: 540px;
    }

    .container {
        min-width: 1500px;
        max-width: 2000px;
    }
}