* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: 'Abordage';
    src: url('/fonts/Abordage-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 350PX --------------- */
/* ------------------ SUP. OU ÉGALE ------------------ */
/* --------------------------------------------------- */
@media (min-width: 350px) {

    html,
    body {
        background-color: rgb(247, 245, 216);
    }

    body {
        font-family: "Abordage";
        color: black;
        min-width: 100vw;
        min-height: 100vh;
        text-align: justify;
        overflow-x: hidden;

        p {
            margin: 0;
        }

        a {
            text-decoration: none;
            color: black;
        }
    }

    /* FORM  */
    input[type=text],
    input[type=email],
    input[type=password] {
        width: 100%;
        padding: 5px 5px 0px 5px;
        border: none;
        outline: none;
        border-bottom: 1px solid rgb(92, 91, 91);
        border-radius: 0;
        box-sizing: border-box;
        margin-bottom: 26px;
        margin-top: 6px;
        margin-right: 0px;
        margin-left: 0px;
        resize: vertical;
        background-color: transparent;
        font-size: 2.7rem;
    }

    label {
        margin-right: 0px;
        margin-left: 0px;
        font-size: 3rem;
    }

    .custom-submit {
        background-color: rgb(27, 237, 177);
        color: black;
        border: 1px solid black;
        padding: 8px 20px;
        border-radius: 10px;
        cursor: pointer;
        margin-bottom: 20px;
        margin-top: 45px;
        font-size: 2.5rem;
        width: 100%;
    }

    .custom-submit:hover {
        background-color: black;
        color: white;
    }

     /* Change the white to any color */
     input:-webkit-autofill,
     input:-webkit-autofill:hover,
     input:-webkit-autofill:focus,
     input:-webkit-autofill:active {
         -webkit-box-shadow: 0 0 0 30px rgb(239, 238, 218) inset !important;
     }

    .click_confidentials {
        border: none;
        background-color: rgb(27, 237, 177, 0.2);
        font-size: 1.2rem;
        display: flex;
        align-items: start;
        margin-top: 0;
        margin-bottom: 16px;
        border-radius: 10px;
        width: fit-content;
        padding: 6px;
        transition: transform 0.3s ease;
        margin-left: 40px;
    }

    .click_confidentials:hover {
        transform: rotate(-2deg);
    }

    .foot_form {
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

    .foot_form a {
        font-size: 2rem;
    }

    .container {
        box-sizing: border-box;
        border-radius: 5px;
        padding: 50px;
        width: 100%;
        min-width: 980px;
        max-width: 900px;
        margin: 0 auto;
    }

    .container a {
        padding-bottom: 5px;
        display: flex;
        justify-content: center;
    }

    .list_professionnal {
        display: none;
    }

    #registration_form_sectorActivity,
    #user_sectorActivity {
        width: 100%;
        border: none;
        outline: none;
        padding: 5px;
        border-bottom: 1px solid rgb(92, 91, 91);
        border-radius: 0;
        box-sizing: border-box;
        margin-bottom: 26px;
        margin-right: 0px;
        margin-left: 0px;
        resize: vertical;
        font-size: 2.7rem;
        color: rgb(123, 122, 122);
        background-color: transparent;
    }

    #registration_form_agreeTerms,
    #registration_form_professional_0,
    #registration_form_professional_1,
    #user_professional_0,
    #user_professional_1 {
        display: none;
    }

    #registration_form_avatar {
        font-size: 2rem;
    }

    .avatar {
        margin-bottom: 26px;
    }

    #registration_form_agreeTerms + label:before {
        margin-right: 15px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 2px solid black;
        background-color: white;
        content: "";
        display: inline-block;
        vertical-align: middle;
        transition: background-color 0.1s ease;
    }

    #registration_form_agreeTerms:checked + label:before{
        background-color: black;
    }

    #registration_form_professional_0 + label:before,
    #registration_form_professional_1 + label:before,
    #user_professional_0 + label:before,
    #user_professional_1 + label:before {
        margin-right: 15px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 2px solid black;
        background-color: white;
        content: "";
        display: inline-block;
        vertical-align: middle;
        transition: background-color 0.1s ease;
    }
    
    #registration_form_professional_0:checked + label:before,
    #registration_form_professional_1:checked + label:before,
    #user_professional_0:checked + label:before,
    #user_professional_1:checked + label:before {
        background-color: black;
    }
    /* FORM  */

    .scrolling-text-container {
        display: flex;
        min-width: 100%;
        overflow: hidden;
    }

    .scrolling-text {
        display: block;
        margin-right: 500px;
        font-size: 3.5rem;
        white-space: nowrap;
        animation: scrollText 10s linear infinite;
        animation-direction: alternate-reverse;
    }

    @keyframes scrollText {
        from {
            transform: translateX(100%);
        }

        to {
            transform: translateX(-100%);
        }
    }

    .hide-on-menu-open .scrolling-text {
        display: none;
    }


    .bordure {
        border: 1px solid black;
    }

    .text_rgpd {
        width: 700px;
        font-size: 1.8rem;
    }
}



/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1000PX --------------- */
/* ----------------- SUP. OU ÉGALE ------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 1000px) {

    /* FORM */
    .container {
        box-sizing: border-box;
        border-radius: 5px;
        padding: 20px 110px 20px 110px;
        width: 100%;
        margin: 0;
    }

    .scrolling-text {
        font-size: 1.5rem;
    }

    #registration_form_avatar {
        font-size: 1rem;
        margin-left: 20px;
    }

    .avatar {
        margin-bottom: 10px;
    }

    #registration_form_professional_0 + label:before,
    #registration_form_professional_1 + label:before,
    #user_professional_0 + label:before,
    #user_professional_1 + label:before {
        width: 20px;
        height: 20px;
    }

    #registration_form_agreeTerms + label:before{
        width: 20px;
        height: 20px;
    }

    input[type=text],
    input[type=email],
    input[type=password],
    #registration_form_sectorActivity,
    #user_sectorActivity {
        font-size: 1.1rem;
        margin-bottom: 16px;
        margin-top: 0px;
    }

    label {
        font-size: 1.1rem;
        margin-bottom: 5px;
    }

    .custom-submit {
        margin-top: 15px;
        margin-bottom: 10px;
        font-size: 1.1rem;
        width: 40%;
    }

    .click_confidentials {
        margin-left: 30px;
        font-size: 0.6rem;
    }

    .foot_form a {
        font-size: 1rem;
        padding-bottom: 0;
    }

    /* FORM */

    .text_rgpd {
        width: 600px;
        font-size: 0.9rem;
    }
}


/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1200PX --------------- */
/* ----------------- SUP. OU ÉGALE ------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 1200px) {

    #registration_form_professional_0 + label:before,
    #registration_form_professional_1 + label:before,
    #user_professional_0 + label:before,
    #user_professional_1 + label:before {
        width: 20px;
        height: 20px;
    }

    #registration_form_agreeTerms + label:before {
        width: 20px;
        height: 20px;
    }

    .text_rgpd {
        width: 600px;
        font-size: 0.8rem;
    }

    .container {
        min-width: 1000px;
        max-width: 2000px;
        padding: 20px 140px 20px 140px;
    }
}



/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------- MEDIA MIN-WIDTH 1500PX --------------- */
/* ----------------- SUP. OU ÉGALE ------------------- */
/* --------------------------------------------------- */
@media only screen and (min-width: 1500px) {
}