<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="Description"
        content="Bennes solidaires est un outils dédié à l'économie circulaire des matériaux bio et géo-sourcés">
    <meta name="Keywords" content="Économie circulaire, plateforme de dons, matériaux bio et géo-sourcés">
    <meta name="Copyright" content="Bennes solidaires">
    <meta name="Author" content="Bennes solidaires">
    <meta name="Revisit-After" content="15 days">
    <meta name="Robots" content="All">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../appearance/inscription.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link href="https://api.fontshare.com/v2/css?f[]=excon@400,900,700,500,300,100,1&display=swap" rel="stylesheet">
    <link rel="icon" href="../images/BS.webp" type="image/x-icon">
    <title>Bennes Solidaires - page d'inscription</title>
</head>

<body>

    <header id="header">
        <div class="container_menu">
            <div>
                <a href="./accueil.html" class="logo"><img src="../images/Bennes-solidaires.webp"
                        alt="Bennes solidaires"></a>
            </div>

            <div class="navbar">
                <ul class="links">
                    <li><a href="./accueil.html">ACCUEIL</a></li>

                    <div class="circle_menu"></div>

                    <li class="dropdown">
                        <a href="./accueil.html#deposer">DÉPOSER UNE ANNONCE</a>
                        <ul class="dropdown-menu_one">
                            <li><a href="./annonce-chercher.html">Chercher un matériau</a></li>
                            <li><a href="./annonce-donner.html">Donner un matériau</a></li>
                        </ul>
                    </li>
                    <div class="circle_menu"></div>

                    <li class="dropdown">
                        <a href="./connexion.html">CONNEXION</a>
                        <ul class="dropdown-menu_two">
                            <li><a href="./connexion.html">Connexion</a></li>
                            <li><a href="./inscription.html">Inscription</a></li>
                        </ul>
                    </li>

                    <div class="circle_menu"></div>

                    <li class="dropdown">
                        <a href="./profil.html">MON PROFIL</a>
                        <ul class="dropdown-menu_two">
                            <li><a href="./profil.html">Voir mon profil</a></li>
                            <li><a href="./mes-annonces.html">Mes annonces</a></li>
                            <li><a href="./messagerie.html">Messagerie</a></li>
                        </ul>
                    </li>

                    <div class="circle_menu"></div>

                    <li><a href="./accueil.html#adhesion">ADHÉSION</a></li>

                    <div class="circle_menu"></div>

                    <li><a href="./accueil.html#contact">CONTACT</a></li>
                </ul>

                <div class="burger-menu-button" id="nav-toggle">
                    <i class="fa-solid fa-bars"></i>
                </div>
            </div>
        </div>

        <div class="burger-menu" id="nav-menu">
            <ul class="links">
                <li><a href="./accueil.html">ACCUEIL</a></li>
                <li><a href="./accueil.html#deposer">DÉPOSER UNE ANNONCE</a></li>
                <li><a href="./connexion.html">CONNEXION</a></li>
                <li><a href="./accueil.html#adhesion">ADHÉSION</a></li>
                <li><a href="./accueil.html#contact">CONTACT</a></li>
            </ul>
        </div>
    </header>


    <main>

        <div class="container" id="container">
            <section id="inscription">
                <div class="scrolling-text-container">
                    <p class="scrolling-text">Page d'inscription</p>
                    <p class="scrolling-text">Page d'inscription</p>
                    <p class="scrolling-text">Page d'inscription</p>
                    <p class="scrolling-text">Page d'inscription</p>
                </div>
                <div class="bordure mb-4"></div>
                <form class="registration_form">
                    <div class="choice mb-4">
                        <div class="checkbox mb-3">
                            <input type="radio" id="particulier" name="user-type" value="particulier">
                            <label for="particulier">Je suis un·e particulier</label>
                        </div>
                        <div class="checkbox">
                            <input type="radio" id="professionnel" name="user-type" value="professionnel">
                            <label for="professionnel">Je suis un·e professionnel·le</label>
                        </div>


                        <div class="text_rgpd" id="text_rgpd" style="display: none;">
                            <p>En cochant cette case, vous consentez à ce que nous utilisions les informations
                                concernant
                                votre
                                secteur d'activité pour établir des statistiques internes sur notre site. Ces données
                                seront
                                traitées de manière anonymes et utilisées uniquement dans le but d'améliorer notre
                                service
                                en
                                connaissant mieux notre public.</p>
                        </div>
                    </div>

                    <div class="radio_professionnal" style="display: none;">
                        <label for="activity-select" class="activity-select">Secteur d'activité</label>

                        <select name="activity" id="activity-select" required>
                            <option value="">Choisissez votre secteur d'activité</option>
                            <option value="Éducation et formation">Éducation et formation</option>
                            <option value="Agriculture et agroalimentaire">Agriculture et agroalimentaire</option>
                            <option value="Fabrication et production">Fabrication et production</option>
                            <option value="Énergie et environnement">Énergie et environnement</option>
                            <option value="Immobilier et construction">Immobilier et construction</option>
                            <option value="Construction durable">Construction durable</option>
                            <option value="Aménagement paysager">Aménagement paysager</option>
                            <option value="Restauration et cafés">Restauration et cafés</option>
                            <option value="Architecture">Architecture</option>
                            <option value="Design d'intérieur">Design d'intérieur</option>
                            <option value="Design de mobilier">Design de mobilier</option>
                            <option value="Design d'objet">Design d'objet</option>
                            <option value="Design textile">Design textile</option>
                            <option value="Restauration du patrimoine">Restauration du patrimoine</option>
                            <option value="Menuiserie">Artisanat bois</option>
                            <option value="Charpente">Artisanat céramique et poterie</option>
                            <option value="Maçonnerie">Artisanat maçonnerie</option>
                        </select>
                    </div>

                    <label for="firstname">Prénom</label>
                    <input type="text" id="firstname" name="firstname" placeholder="Votre prénom" required>

                    <label for="lastname">Nom</label>
                    <input type="text" type="lastname" name="lastname" placeholder="Votre nom" required>

                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" placeholder="Votre adresse email" required>

                    <label for="identifier">Identifiant</label>
                    <input type="text" id="identifier" name="identifier" placeholder="Choisir un identifiant" required>

                    <label for="password">Mot de passe</label>
                    <input id="password" type="password" name="password" placeholder="Votre mot de passe" required>

                    <label for="password">Confirmation</label>
                    <input id="password" type="password" name="password" placeholder="Confirmer le mot de passe"
                        required>

                    <div class="foot_form">
                        <input type="submit" value="Valider mon inscription">
                        <a href="./connexion.html">Vous possédez déjà un compte ?</a>
                        <a href="./connexion.html">Cliquez ici !</a>
                    </div>
                </form>
            </section>
        </div>

    </main>

<script src="../appearance/overall-scrolling.js"></script>
<script src="../appearance/inscription.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
</body>
</html>