{% extends 'base.html.twig' %}

{% block title %}Bennes solidaires - Détails de l'annonce{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href={{ asset('css/annonce-detail.css') }}>
{% endblock %}


{% block body %}

    {% include 'partials/header.html.twig' %}

    <div class="container">
            <div class="top_all">
                <div class="form_profil">
                    <p>ANNONCE</p>
                </div>
                <div class="form_profil">
                    <p>BOTTES DE PAILLE</p>
                </div>

                <div class="form_profil">
                    <p>SAMIA</p>
                </div>
                <div class="form_profil">
                    <p>0 MESSAGE NON LU</p>
                </div>
            </div>

            <div class="announce_all">

                <div class="carousel">
                    <button class="carousel__button carousel__button--left is-hidden">
                        <i class="fa-solid fa-chevron-left"></i>
                    </button>
                    <div class="carousel__track-container">
                        <div class="carousel__track">
                            <div class="carousel__slide current-slide">
                                <img class="carousel__images" src="../images/IMG_2099.jpeg" alt="background-image" />
                            </div>
                            <div class="carousel__slide">
                                <img class="carousel__images" src="../images/20201108_115654.jpeg" alt="background-image" />
                            </div>
                            <!-- <div class="carousel__slide"> ici -->
                        </div>
                    </div>
                    <button class="carousel__button carousel__button--right">
                        <i class="fa-solid fa-chevron-right"></i>
                    </button>
                    <div class="carousel__nav">
                        <button class="carousel__indicator current-slide"></button>
                        <button class="carousel__indicator"></button>
                        <!-- <button class="carousel__indicator"> selon le nombre d'images -->
                    </div>
                </div>

                <div class="bordure"></div>

                <div class="form_announce">
                    <div class="announce">
                        <div class="link_member">
                            <div class="text">
                                <p><span>BARNABÉ</span></p>
                                <p><span>2 ANNONCES</span></p>
                            </div>
                            <a href="#" class="link_announce_member">
                                <div class="icon">
                                    <i class="fa-solid fa-chevron-right"></i>
                                </div>
                            </a>
                        </div>

                        <div class="location">
                            <p><span>LOCALISATION</span></p>
                            <p>Sisteron (04)</p>
                        </div>

                        <div class="classification">
                            <p><span>CLASSIFICATION</span></p>
                            <p>Bio-sourcé</p>
                        </div>

                        <div class="materials">
                            <p><span>MATÉRIAU</span></p>
                            <p>Paille de blé</p>
                        </div>

                        <div class="quantity">
                            <p><span>QUANTITÉ</span></p>
                            <p>3 bottes</p>
                        </div>

                        <div class="description">
                            <p><span>DESCRIPTION</span></p>
                            <p>Bonjour, je donne 3 bottes de paille de blé destinés à la construction mais elles ont
                                un taux
                                d’humidité trop haut pour les utiliser.</p>
                        </div>

                        <div class="foot_form">
                            <a href={{ path('app_messagerie') }}>
                                <button class="send_message">Message</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}

{% block javascripts %}
    <script src={{ asset('public/js/overall-no-scrolling.js') }}></script>
    <script src={{ asset('public/js/carousel.js') }}></script>
{% endblock %}
