{% extends 'base.html.twig' %}

{% block title %}Bennes Solidaires - Messages{% endblock %}

{% block stylesheets_additionnal %}
<link rel="stylesheet" href={{ asset('public/css/messages.css') }}>
{% endblock %}


{% block body %}

    {% include 'partials/header.html.twig' %}

    <div class="nav-two">
            <!-- RETOUR VERS LA PAGE PRÉCÉDENTE -->
            <a href="#"onclick="history.back(); return false;"><i class="fa-solid fa-chevron-left"></i></a>
            <h1>VOS CONVERSATIONS</h1>
        </div>

        <!-- VERSION MOBILE  -->
        <div class="container">
            <div class="description_announce">

                <div class="img_announce">
                    <img src="../images/20201108_115654.jpeg">
                </div>

                <div class="text_announce">
                    <p><span>PAILLE</span></p>
                    <p>Annonce en ligne</p>
                    <p>Barnabé - 4 mai 2024</p>
                    <a href="#" class="look_announce">Voir l'annonce</a>
                </div>

                <div class="icons_announce">
                    <!-- FONCTION DELETE -->
                    <a href=""><i class="fa-solid fa-trash"></i></a>
                    <a href="./messagerie.html"><i class="fa-regular fa-message"></i></a>
                </div>
            </div>
        <!-- VERSION MOBILE  -->

{% endblock %}

{% block javascripts_additionnal %}
    {{asset('public/js/overall-no-scrolling.js') }}
    {{asset('public/js/back.js') }}
{% endblock %}
