<form action="{{ path('announce_delete', {'id': announce.id}) }}" method="POST" onsubmit="return confirm('Êtes-vous sûr·e de vouloir supprimer cette annonce ?')" id="delete-form">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ announce.id) }}">
    <button type="submit" class="delete_announce">Supprimer</button>
</form> 