<form method="POST" id="delete-form-{{ announce.id }}" action="{{ path('announce_delete', {'id': announce.id}) }}">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ announce.id) }}">
    <button type="submit" class="delete_announce">Supprimer</button>
</form>
