{% extends 'base.html.twig' %}

{% block title %}Bennes Solidaires - Redirection{% endblock %}

{% block stylesheets_additionnal %}
<link rel="stylesheet" href={{ asset('public/css/annonce-donner.css') }}>
{% endblock %}


{% block body %}

    <div class="border-container">
        <div class="container">
            
            <h1>Merci pour votre annonce !</h1>
            <h1>Vous allez être redirigé·e vers la page d’accueil ...</h1>
            <!-- PREVOIR REDIRECTION VERS LA PAGE D'ACCUEIL -->
            </div>
        </div>

{% endblock %}
